
/*<===共通===>*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  overflow: hidden;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  font-weight: bold;
}
p {
  line-height: 1.5rem;
}
.boxx {
  display: inline-block;
  padding: 6rem 3.5rem;
  background: rgb(247, 245, 245);
  position: relative;
  width: 24rem;
  height: 25rem;
  margin: 0 auto;
}
h2 {
  margin-top: -5rem;
  margin-bottom: 2rem;
  line-height: 5rem;
}
h2::after {
  content: "";
  width: 4rem;
  height: 0.125rem;
  background-color: #000;
  display: block;
}
/*<===nav===>*/
.nav-items {
  text-decoration: none;
  position: relative;
  font-size: 1.2rem;
  position: relative;
  display: flex;
  padding: 2rem 0 0 45rem;
  font-weight: bold;
}
.nav-items::after {
  position: absolute;
  content: "";
  background: rgba(24, 184, 212, 0.596);
  transform: scale(0, 1); 
  transform-origin: center; 
  transition: 0.3s; 
}
.nav-items a:hover {
  color: rgba(24, 184, 212, 0.596);
}
.nav-items:hover::after {
  transform: scale(1, 1);
}
.first,
.second {
  margin-right: 3rem;
}
.nav-items li {
  margin-top: 2rem;
  margin-left: 3.5rem;
  z-index: 88;
}
.nav-items a {
  color: #fff;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}
.kasenn::after {
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  content: "";
  width: 100%;
  height: 0.2rem;
  background: rgba(24, 184, 212, 0.596);
  transform: scale(0, 1); 
  transform-origin: center; 
  transition: 0.3s; 
}
.kasenn:hover::after {
  transform: scale(1, 1);
}
.box-inner nav,
.title {
  position: relative;
  z-index: 50;
}
.fade {
  animation:fadeIn 4.5s ease .5s 1 normal;
}
@keyframes fadeIn { 

  0% {opacity: 0} 
  
  100% {opacity: 1} 
}
/*<===header===>*/
.header {
  width: 100%;
  height: 35rem;
  color: #fff;
  z-index: 44;
  margin-bottom: 6rem;
  background-image: url(../img/thomas-kinto-KNRErdBC9uM-unsplash-min.jpg);
  display: block;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header::before {
  content: " ";
  background-color: #000;
  z-index: 22;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 35rem;
}
.title {
  justify-content: center;
  align-items: center;
  padding: 12rem 4rem;
  font-size: 3rem;
  line-height: 4rem;
}
.title-next {
  padding: 3rem 13rem;
}
/*<===one===>*/
.main-image {
  width: 90%;
  height: 35rem;
  background-image: url(../img/janis-rozenfelds-uGjyHuU2Ja0-unsplash-min.jpg);
  background-size: cover;
  background-position: center;
  align-content: center;
  z-index: 22;
  margin: 0 auto;
}
.box-inner {
  top: 15rem;
  float: right;
  z-index: 99;
  margin-bottom: 10rem;
}
.secondary-image {
  width: 90%;
  height: 35rem;
  background-image: url(../img/koukichi-takahashi-8Iu6NzvLkz8-unsplash-min.jpg);
  background-size: cover;
  background-position: center;
  align-content: center;
  z-index: 20;
  margin: 10rem auto 0;
}
.secondary-inner {
  top: 15rem;
  z-index: 99;
  margin-bottom: 8rem;
}
.btn {
  background-color: #000;
  border: 2px solid #000;
  padding: 0.8rem 2.5rem;
  font-size: 1.2rem;
  font-family: inherit;
  color: #fff;
  text-align: center;
  display: inline-block;
  margin-top: 2rem;
  margin-left: 10rem;
  transition: 0.8s;
}
.btn:hover {
  background-color: rgba(24, 184, 212, 0.596);
  color: #fff;
  border: 2px solid rgba(24, 184, 212, 0.596);
  color: #000;
  }
/*<==two===>*/
.main-selfpr {
  margin-top: 10rem;
  width: 100%;
  font-size: 2.5rem;
  position: relative;
  z-index: 50;
}
.selfpr-inner {
  color: #fff;
  margin-bottom: 6rem;
  width: 100%;
  height: 35rem;
  background-image: url(../img/zhao-chen-ykqyIPVuLbw-unsplash-min.jpg);
  display: block;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.selfpr-inner::before {
  content: " ";
  background-color: #000;
  z-index: 22;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 35rem;
}
h3 {
  text-align: center;
  padding-top: 5rem;
  line-height: 5rem;
}
h3:after {
  content: "";
  width: 4rem;
  height: 0.125rem;
  background-color: #fff;
  display: block;
  margin:0 auto;
}
.selfpr-contents {
  margin-top: 3rem;
  width: 16rem;
  height: 18.25rem;
  position: relative;
  padding: 0 1rem;
  border: 0.125rem solid #fff;
  background: #fff;
  z-index: 60;
  margin: 2.5rem auto 0;
  transition: 1s;
}
.selfpr-contents:hover {
  transform: translateY(-1.3rem);
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
}

h4 {
  width: 100%;
  font-size: 1.3rem;
  padding-left: 3.5rem;
  margin-bottom: 1.5rem;
  color: rgba(24, 184, 212, 0.596);
}
.selfpr-third {
  margin-left: -0.7rem;
}
.selfpr-content {
  padding-top: 1rem;
  color: #000;
  z-index: 90;
}
.selfpr-wapper {
  width: 90%;
  display: flex;
  margin: 0 auto;
}
/*<===three===>*/
.trigger-bgc {
  width: 100%;
  height: 43rem;
  background-color: rgb(247, 245, 245);
  margin-bottom: 10rem;
}
.trigger-image {
  width: 50%;
  height: 35rem;
  background-image: url(../img/zhang-kaiyv-LYI1JUBFVlY-unsplash-min.jpg);
  background-size: cover;
  background-position: center;
  float: right;
  margin-top: 4rem;
  margin-right: 1rem;
}

.main-trigger {
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-left: 8rem;
}
.boxxx {
  display: inline-block;
  padding: 8rem 3.5rem;
  background-color: rgb(247, 245, 245);
  position: relative;
  width: 35rem;
  height: 43rem;
  margin: 0.3rem -0.3rem auto 1.3rem;
}
.trigger-wapper {
  font-size: 1.3rem;
  line-height: 2rem;
}
.wapper-about {
  margin-bottom: 1.5rem;
}
.btn-mid {
  background-color: #000;
  border: 2px solid #000;
  padding: 0.8rem 2.5rem;
  font-size: 1.2rem;
  font-family: inherit;
  color: #fff;
  text-align: center;
  display: inline-block;
  margin-top: 3.5rem;
  margin-left: 20rem;
  transition: 0.8s;
}
.btn-mid:hover {
  background-color: rgba(24, 184, 212, 0.596);
  color: #fff;
  border: 2px solid rgba(24, 184, 212, 0.596);
  color: #000;
  }

.navs {
  width: 100%;
  height: 10rem;
  background-color: #000000;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  color: #fff;
  font-weight: bold;
  z-index: 33;
}
.last-nav-items {
  font-size: 1.2rem;
  position: relative;
  display: flex;
  padding: 2rem 7rem 0 5rem;
  font-weight: bold;
}
.firstt,
.secondd {
  margin-right: 6rem;
}
.last-nav-items li {
  margin-top: -1.5em;
  margin-left: 3rem;
  z-index: 88;
}
.last-nav-items a {
  color: #fff;
  position: relative;
  transition:0.3s ;
}
.last-nav-items a:hover {
  color: rgba(24, 184, 212, 0.596);
}
.btn-last {
  text-align: right;
  background-color: #f0ececd7;
  border: 2px solid rgba(247, 245, 245, 0.562);
  padding: 1rem 3.5rem;
  margin-left: 15rem;
  font-family: inherit;
  color: #000;
  font-size: 1.5rem;
  transition: 0.8s;
}
.btn-last:hover {
  background-color: rgba(24, 184, 212, 0.596);
  color: #fff;
  }
.sp-nav {
  display: none;
}
